<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet5</display-name>
  
  <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>servlet6.HomeController</servlet-class>  
  </servlet>
  
  
  <servlet-mapping>
  
  <servlet-name>first</servlet-name>
  <url-pattern></url-pattern>
  
  
  </servlet-mapping>
  
  
  <context-param>
  
        <param-name>driver</param-name>  
        <param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>


  <context-param>
  
        <param-name>user</param-name>  
        <param-value>root</param-value> 
  </context-param>
  
   <context-param>
  
       <param-name>pwd</param-name>  
        <param-value>root</param-value> 
  </context-param>
  
  
  <servlet>
     <servlet-name>two</servlet-name>
     <servlet-class>servlet6.LoginController</servlet-class>
         
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>two</servlet-name>
  	<url-pattern>/reqLogin</url-pattern>
  
  </servlet-mapping>
  
  
  
  <servlet>
     <servlet-name>three</servlet-name>
     <servlet-class>servlet6.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>three</servlet-name>
  	<url-pattern>/reqViewData</url-pattern>
  
  </servlet-mapping>
  
</web-app>