<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet4</display-name>
 <!--  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    
  </welcome-file-list>
  
  -->
 <servlet>
  <servlet-name>first</servlet-name>
  <servlet-class>servlet4.HomeController</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>first</servlet-name>
  <url-pattern></url-pattern>
  
  
  </servlet-mapping>
  
  
  <servlet>
  <servlet-name>add</servlet-name>
  <servlet-class>servlet4.AddController</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>add</servlet-name>
  <url-pattern>/reqadd</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>sub</servlet-name>
  <servlet-class>servlet4.SubController</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>sub</servlet-name>
  <url-pattern>/reqsub</url-pattern>
  
  
  </servlet-mapping>
  
  
  
  
  <servlet>
  <servlet-name>mul</servlet-name>
  <servlet-class>servlet4.MulController</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>mul</servlet-name>
  <url-pattern>/reqmul</url-pattern>
  
  
  </servlet-mapping>
  
  <servlet>
  <servlet-name>div</servlet-name>
  <servlet-class>servlet4.DivController</servlet-class>  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>div</servlet-name>
  <url-pattern>/reqdiv</url-pattern>
  
  
  </servlet-mapping>
  
  
  
</web-app>