<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>servlet3</display-name>
  
  <servlet>
     <servlet-name>one</servlet-name>
     <servlet-class>servlet3.HomeController</servlet-class>
  
  </servlet>
  <servlet-mapping>
  	<servlet-name>one</servlet-name>
  	<url-pattern></url-pattern>
  
  </servlet-mapping>
  
  <servlet>
     <servlet-name>two</servlet-name>
     <servlet-class>servlet3.LoginController</servlet-class>
  
  </servlet>
  <servlet-mapping>
  	<servlet-name>two</servlet-name>
  	<url-pattern>/reqLogin</url-pattern>
  
  </servlet-mapping>
</web-app>